/* applies custom style to all alternatives */
.alternatives {
    padding-bottom: 10px;
}

/* overrides the style of each individual alternative type */
.textarea {
    padding-bottom: 60px;
}

.textfield {
    padding-bottom: 60px;
}

.video {
    padding-bottom: 60px;
}

.listinputfield {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}
