<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/forms-min.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/mainstyle.css">
	<link rel="stylesheet" href="css/alternatives.css">
	<link rel="stylesheet" href="css/components/modal.css">
	<link rel="stylesheet" href="css/components/tabs.css">
	<link rel="stylesheet" href="css/vue.css">
	<link rel="stylesheet" href="css/animations.css">
	<link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
	<!-- Flatpickr related files -->
	<!-- <link href="https://unpkg.com/flatpickr@3.0.6/dist/flatpickr.min.css" rel="stylesheet"> -->

</head>
<body>
	<div id="app" v-cloak>
		<!-- NAVBAR -->
		<div id="nav-row" class="row">
		    <nav class="navbar navbar-fixed-top">
		        <div class="container-fluid">
		            <div class="navbar-header">
		                <a class="navbar-brand" href="index.html">Vue Form Editor</img></a>
		            </div>
		            <ul class="nav navbar-nav" style="margin-left: 230px;" >
		                <li v-if="hideGUI == false"><a href="#"><i style="color: white; font-size: 1.5em; " class="fa fa-undo" aria-hidden="true"></i></a></li>
		                <li v-if="hideGUI == false"><a href="#"><i style="color: white; font-size: 1.5em" class="fa fa-repeat" aria-hidden="true"></i></a></li>
						<li v-if="hideGUI == true" @click="hideGUI = !hideGUI"><a href="#"><i style="color: white; font-size: 1.5em" class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i></a></li>
		            </ul>
		        </div>
		    </nav>
		</div>


		<div class="row-fluid">
			<!-- LEFT SIDE MENU -->
			<div class="col-lg-3 col-md-3 col-sm-3" v-if="hideGUI == false">
				<div id="left-side-menu">
					<div class="panel panel-default">
						<div class="panel-heading" data-toggle="collapse" data-target="#advancedList">
							<div class="row">
								<div class="col-lg-10">
									<span style="margin-right: 5px;">Avansert</span>
								</div>
								<div class="col-lg-2">
									<i style="margin-top: 5px; margin-left: 10px;" class="glyphicon glyphicon-chevron-down"></i>
								</div>
							</div>
						</div>
						<div class="panel-body collapse" id="advancedList">
						    <ul class="list-group">
								<draggable v-model="advancedList" :clone="clone" :options="{group:{name: 'form', pull: 'clone', put: false, revertClone: false}, sort: false}">
						            <li id="advlistitem" v-on:click="addQuestion(item.type)" v-for="item in advancedList" class="list-group-item question-types">
										{{item.type}}
										<span class="badge">
											<i class="glyphicon glyphicon-move"></i>
										</span>
							        </li>
								</draggable>
						    </ul>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" style="" data-toggle="collapse" data-target="#list">
							<div class="row">
								<div class="col-lg-10">
									<span style="margin-right: 5px;">Types</span>
								</div>
								<div class="col-lg-2">
									<i style="margin-top: 5px; margin-left: 10px;" class="glyphicon glyphicon-chevron-down"></i>
								</div>
							</div>
						</div>
						<div class="panel-body collapse in" id="list">
						    <ul class="list-group">
								<draggable v-model="list" :clone="clone" :options="{group:{name: 'form', pull: 'clone', put: false, revertClone: false}, sort: false}">
										<transition-group name="fade">
						            <li id="listitem" v-on:click="addQuestion(item.type)"  v-for="(item, index) in list" :key="index" class="list-group-item question-types">
						                {{item.type}}
										<span class="badge">
											<i class="glyphicon glyphicon-move"></i>
										</span>
						            </li>
									  </transition-group>
								</draggable>
						    </ul>
						</div>
					</div>
				</div>
			</div>

















			<!-- FORM -->
			<div id="form-container" class="col-lg-5 col-md-9 col-sm-9" style="padding-bottom: 50px;" v-if="hideGUI == false">
				<tabs :class="{ effect4: nextPage, effect3: prevPage }">
					<tab name="Edit" selected="true">
						<div id="home" class="tab-pane fade in active">
						    <div style="border-radius: 0px 0px 0px 0px;" class="panel panel-default">
						        <div id="form" style="width: 100%; padding: 0px" class="panel-body">
									<ul class="list-group" style="min-height: 700px;">
										<draggable v-model="formList" @end="playAnimations = !playAnimations" :options="{group: 'form', animation: 250}" style="min-height: 700px;">
										   <li style="border: 1px solid black;" v-bind:style="{ 'background-color': question.bColorHex, color: question.fColorHex, 'border-color': question.fColorHex }" tabindex="0" @focus.prevent="focus(question)"
										   		v-for="(question, index) in formList"
										    	:key="index" class="list-group-item">
											   <question :question="question" :key="index" :toggle="toggle" @clone="cloneQuestion(question)" @remove="removeQuestion(question)"></question>
										  </li>
									   </draggable>
									</ul>
						        </div>
								<div class="row-fluid" style="height: 50px; padding-bottom: 10px;">

									<div class="col-lg-3" >
									</div>
									<div class="col-lg-1" >
										<div class="btn btn-default" @mouseleave="prevPage = false" @mouseover="prevPage = true">&#8249;</div>
									</div>

									<div class="col-lg-4" style="text-align: center;">
										{{currentPage}}/{{nrOfPages}}
									</div>


									<div class="col-lg-1">
										<div class="btn btn-default" @mouseleave="nextPage = false" @mouseover="nextPage = true">&#8250;</div>
									</div>
									<div class="col-lg-3">
									</div>

							  	</div>
						    </div>
						</div>
					</tab>
					<tab name="Preview">
						<div style="padding: 0px; margin: 0px" class="panel panel-default">
							<div id="form" style="width: 100%; padding: 0px; min-height: 0px" class="panel-body">
								<ul style="padding: 0px; margin: 0px" class="list-group">
								   <li style="border: 1px solid black;" v-bind:style="{ 'background-color': question.bColorHex, color: question.fColorHex }" v-for="(question, index) in formList" v-bind:class="{smoke: question.type == 'Tittel'}" :key="index" class="list-group-item">
									   <finished-question :key="index" :question="question"></finished-question>
									    <!-- <div v-if="index != formList.length - 1" style=""></div> -->
								   </li>
								</ul>
							</div>
						</div>
					</tab>

				</tabs>
			</div>

			<div class="col-lg-3" v-if="hideGUI == true">
			</div>
			<div class="col-lg-6" v-if="hideGUI == true">
				<div id="form" style="width: 90%; margin: auto; padding-bottom: 40px; min-height: 0px" class="panel-body">
					<ul style="padding: 0px; margin: 0px" class="list-group">
					   <li style="border: 1px solid black" v-bind:style="{ 'background-color': question.bColorHex, color: question.fColorHex }" v-for="(question, index) in formList" v-bind:class="{smoke: question.type == 'Tittel'}" :key="index" class="list-group-item">
						   <finished-question :key="index" :question="question"></finished-question>
					   </li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3" v-if="hideGUI == true">
			</div>


			<!-- RIGHT SIDE MENU -->
			<div class="col-lg-4 hidden-md hidden-sm">
				<div id="right-side-menu" >
					<tabs v-if="hideGUI == false">
						<tab name="Hotkeys">
							<div id="home" class="tab-pane fade in active">
								<div v-show="show == true" class="panel panel-default">
									<div class="panel-body">
										<div class="row-fluid">
											<table style="" class="table">
												<tr>
													<th>Element</th>
													<th>Function</th>
													<th>Key</th>
												</tr>
												<tr>
													<td>Input field</td>
													<td>Add new field</td>
													<td>Enter</td>
												</tr>
												<tr>
													<td>Input field</td>
													<td>Delete field content</td>
													<td>Delete</td>
												</tr>
												<tr>
													<td>Global</td>
													<td>Delete form</td>
													<td>alt + s</td>
												</tr>
												<tr>
													<td>Global</td>
													<td>Show delete form modal</td>
													<td>alt + a</td>
												</tr>
												<tr>
													<td>Input field</td>
													<td>Focus previous field</td>
													<td>Up arrow</td>
												</tr>
												<tr>
													<td>Input field</td>
													<td>Focus next field</td>
													<td>Down arrow</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</div>
						</tab>
						<tab name="Color" selected="true">
							<div id="home" class="tab-pane fade in active">
								<div v-show="show == true" class="panel panel-default">
									<div class="panel-body">
										<div class="row-fluid">
											<div class="col-lg-12" style="">
												<photoshop-picker v-model="colors" />
											</div>
										</div>
										<div class="row-fluid">
											<div class="col-lg-12" style="">
												<form>
													<div class="checkbox">
														<label>
															<input type="checkbox" v-model="entireForm" />
															Apply colour to entire form
														</label>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</tab>
						<tab name="Edit form">
							<div id="home" class="tab-pane fade in active">
								<div v-show="show == true" class="panel panel-default">
									<div class="panel-body">
										<div class="row-fluid">
											<div class="col-lg-10">
												<form class="pure-form">
													<label>Form title:</label>
						                            <input v-focus type="text" v-model="title" style="width: 100%">
													<h2>{{title}}</h2>
						                        </form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</tab>
						<tab name="Edit question">
							<div id="home" class="tab-pane fade in active">
								<div v-show="show == true" class="panel panel-default">
									<div class="panel-body">
										<div class="row-fluid">
											<div class="col-lg-10">
												<form>
													<div class="checkbox">
														<label>
															<input type="checkbox" v-model="time" />
															Enable time
														</label>
													</div>
													<div class="checkbox">
														<label>
															<input type="checkbox" v-model="calendar" />
															Calendar
														</label>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</tab>
					</tabs>

					<ul  v-if="hideGUI == false" class="list-group">
						<li class="list-group-item">
							<button @click="showModal = 'delete'" class="btn btn-default default-btn"><i class="glyphicon glyphicon-trash"></i></button>
						</li>
						<li class="list-group-item">
							<button @click="hideGUI = !hideGUI"  class="btn btn-default default-btn"><i class="glyphicon glyphicon-share"></i></button>
						</li>
					</ul>
				</div>
			</div>

			<modal v-if="showModal == 'finish' || showModal == 'delete'" @close="saveForm">
				<!-- HEADER -->
				<h3 v-if="showModal == 'finish'" slot="header">Save and proceed?</h3>
				<h3  v-if="showModal == 'delete'" slot="header" style="text-align: center;">Delete form?</h3>
				<!-- MAIN -->
				<p v-if="showModal == 'finish'" style="text-align: center" slot="body">This will save the form</p>
				<p v-if="showModal == 'delete'" style="text-align: center" slot="body">This will delete the entire form permanently</p>
				<!-- FOOTER -->
				<div v-if="showModal == 'delete'" slot="footer">
					<button style="background: #FF715B" class="btn" @click="deleteForm">Delete form <!-- FF715B B2301C--></button>
					<button class="btn" @click="showModal = 'none'">Cancel</button>
				</div>
			</modal>

		</div>
	</div>


	</div>


	<script src="https://unpkg.com/flatpickr@3.0.6/dist/flatpickr.min.js"></script>
	<!-- Vue js -->
	<!-- external libraries -->
	<script src="https://unpkg.com/vue"></script>

	<!-- Lastly add this package -->
	<script src="https://unpkg.com/vue-flatpickr-component"></script>


	<!-- <script src="https://unpkg.com/flatpickr"></script> -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-color/2.2.0/vue-color.js"></script>

	<script>
		var Photoshop = VueColor.Chrome;
		var Swatch = VueColor.Swatches;

	</script>
	<!-- <script src="https://cdn.jsdelivr.net/sortable/1.4.2/Sortable.min.js"></script> -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.11.0/vuedraggable.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!-- internal libraries  -->
	<script src="lib/lib.js"></script>
	<!-- custom components -->
	<script src="components/custom-input.js"></script>
	<script src="components/custom-modal.js"></script>
	<script src="components/tab.js"></script>
	<script src="components/tabs.js"></script>
	<script src="components/question.js"></script>
	<script src="components/finished-question.js"></script>
	<!-- custom directives -->
	<script src="js/global-custom-directives.js"></script>

	<!-- vue root instance -->
	<script src="js/main.js"></script>

</body>
</html>
